/weathergw/target/
/TPC06/aula08-decorator/weathergw/target/
/TPC07_08/weathergw/target/
/Ficha1/weathergw/target/
/TPC09/weathergw/target/
/TPC09/target/
/TPC09/TPC09/nbproject/private/
/TPC09/TPC09/build/
/TPC09/TPC09/dist/